/.config/mpd/playlists
/.config/mpd/database
/.config/mpd/pid
/.config/mpd/state
/.config/mpd/sticker.sql

/.config/ncmpcpp/lyrics
/.config/ncmpcpp/error.log
/.config/ncmpcpp/patterns.list

/.config/nvim/.netrwhist
/.config/nvim/spell

maelstrom
