[submodule "scripts"]
	path = scripts
	url = git@github.com:relativehysteria/scripts.git
[submodule ".config/nvim/pack/plugins/start/vim-easy-align"]
	path = .config/nvim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".config/nvim/pack/plugins/start/nvim-lspconfig"]
	path = .config/nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".config/nvim/pack/plugins/start/lackluster.nvim"]
	path = .config/nvim/pack/plugins/start/lackluster.nvim
	url = https://github.com/slugbyte/lackluster.nvim.git
[submodule ".config/nvim/pack/plugins/start/minimal"]
	path = .config/nvim/pack/plugins/start/minimal
	url = https://github.com/wolverian/minimal.git
