:root #TabsToolbar {
  padding:       0    !important;
  max-height:    17px !important;
  margin-left:   1px  !important;
  margin-right:  1px  !important;
  border-radius: 0    !important;
}

.tabbrowser-tab * {
  margin:        0    !important;
  height:        15px !important;
  padding:       0    !important;
  border-radius: 0    !important;
}

.tabbrowser-tab {
  min-height: 12px !important;
}

.tab-close-button, .new-tab-button, #tabs-newtab-button, #titlebar spacer {
  display: none !important;
}

:root #nav-bar {
  min-height: 2.5em       !important;
  height:     2.5em       !important;
  margin:     0 0 -2.5em  !important;
  z-index:    -1000       !important;
  opacity:    0           !important;
}

:root #nav-bar:focus-within {
  z-index: 1000        !important;
  opacity: 1           !important;
}

#new-tab-button, #alltabs-button, #scrollbutton-down, .tab-loading-burst {
  display: none;
}

#titlebar {
  overflow:        none !important;
  -moz-appearance: none !important;
}

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
}
